<div ng-if="!$ctrl.images.length" class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="search" ng-if="$ctrl.images.length">
        <div class="search-input">
          <input ng-class="{'show': '$ctrl.showSearch'}" type="text" ng-model="$ctrl.search" class="form-control" placeholder="Search" ng-show="$ctrl.showSearch">        
        </div>        
        <div ng-click="$ctrl.showSearch = !$ctrl.showSearch" class="search-icon">
          <svg viewBox="0 0 24 24"><path d="M23.832 19.641l-6.821-6.821c2.834-5.878-1.45-12.82-8.065-12.82-4.932 0-8.946 4.014-8.946 8.947 0 6.508 6.739 10.798 12.601 8.166l6.879 6.879c1.957.164 4.52-2.326 4.352-4.351zm-14.886-4.721c-3.293 0-5.973-2.68-5.973-5.973s2.68-5.973 5.973-5.973c3.294 0 5.974 2.68 5.974 5.973s-2.68 5.973-5.974 5.973z"/></svg>          
        </div>
      </div>      
    </div>
  </div>
  <section class="row">
    <article class="col-sm-3" ng-repeat="image in $ctrl.images | filter: $ctrl.search | limitImage: [$ctrl.currentPage, $ctrl.itemsPerPage] track by $index">
      <figure>
        <img ng-src="{{image.thumbnailUrl}}" alt="">
        <figcaption>{{image.title}}</figcaption>
      </figure>        
    </article>     
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <pagination current-page="$ctrl.currentPage"
          items-length="$ctrl.images.length"
          items-per-page="$ctrl.itemsPerPage">
      </pagination>
    </div> 
  </div>
</div>