@import '../common';

pagination {
    
    text-align: center;   
    
    ul {
        list-style-type: none;
        padding: 1em 2em 0.5em;
        margin-top: 1em;
        background-color: #5F90A9;
        
        li {
            display: inline;
            &:first-child {
                padding-right: 1em;
            }
        }
    }

    .previous, .next {
        svg {
            width: 3em;
            height: 3em;
            path {
                fill: #fff;
            }
        }
    }

    .previous {
        svg {
            transform: rotate(180deg); 
        }
    }    
    
}



